body {
    background-color: #03fca9;
}

.skip a{
    font-size: 17px;
    left: 0;
    color: black;
    padding: 10px;
    -webkit-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}
    
.skip a:focus {
  position: absolute;
  top: 70px;
}

.active {
    border: black dotted 3px;
    border-radius: 5px;
}

.active a {
    color: darkmagenta;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

header{
    background-color: #50C7C7;
    margin-bottom: 40px;
}

nav .head_links {
    font-size: 20px;
}

nav li {
    margin: 15px;
    padding: 5px;
    text-align: center;
    list-style-type: none;
}

.gallery {
    display: grid;
    grid-gap: 15px;
}

.gallery > img {
    width: 100%;
    border: solid black 5px;
    justify-self: center;
}

.gallery > img:last-child {
    margin-bottom: 10px;
}


@media screen and (min-width: 500px) {

    .gallery {
        grid-template-columns: repeat(2, 40%);
        align-items: center;
        justify-content: center;  
    }

    .gallery > img:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
        border: solid black 5px;
    }

    header{
        background-color: #50C7C7;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
    }

    nav .head_links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }   

}


@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(3, 30%);
    }

    .gallery > img {
        width: 100%;
        border: solid black 3px;
        justify-self: center;
    }

    .gallery > img:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        border: solid black 3px;
    }
    
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: static;
    }

    nav .head_links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(4, 20%);
    }

    header {
        justify-content: flex-start;
    }

    .gallery > img {
        width: 100%;
        border: solid black 3px;
        justify-self: center;
    }

    .gallery > img:last-child {
        grid-column-start: 1;
        grid-column-end: 5;
        border: solid black 5px;
    }

    .gallery > img:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        border: solid black 3px;
    }

    .head_links {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: left;
        position: static;
    }

    .skip a {
        left: auto;
        right: 0;
    }
}